#work_order_top_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-left: 5%;
    padding-right: 3%;
}
#work_order_top_bar button{
    width: 150px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.4); 
    transition: box-shadow 0.3s ease; 
}

#work_order_top_bar button:hover {
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4); 
}
#tab_option_box{
    display: flex;
    
}


.tab-buttons {
    display: flex;
}

.tab-buttons {
    display: flex;
}

.tab-button {
    border: none;
    background-color:transparent;
    color: #000; 
    font-size: 20px;
   
    cursor: pointer;
    position: relative;
    border-bottom-style: solid;
    border-color: rgb(206, 204, 204);
    width: 300px;
    margin-bottom: 2%;
}

.active_tab_button{
    border-color: black;
}





table {
    border-collapse: collapse;
    
    width: 90%;
   
    margin: auto;

}
th {
    background-color: #f2f2f2;
   
    padding: 8px;
    text-align: left;
}
  
tr:first-child td, tr:first-child th {
    border-right: none; /* Remove the right border from cells in the first row */
  }
/* Style for table rows */
tr.parent_row,
tr.child_row,
tr.grandchild_row {
    /* border: 1px solid #dddddd; */
}

/* Style for table data cells */
td {
    /* border: 1px solid #dddddd; */
    padding: 8px;
}
.parent_row td button{
    border-style: none;
    background-color: transparent;
}
.child_row td button{
    border-style: none;
    background-color: transparent;
}

input[type="checkbox"] {
    margin-right: 5px; 
}

td:nth-child(2) label {
    display: inline-block;
    margin-left: 5px; 
}

.child_row input[type="checkbox"] {
    margin-left: 50px; 
}


.grandchild_row input[type="checkbox"] {
    margin-left: 100px; 
}


